a {
  color: #0B1029;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* #root {
  background-color: #8EFF7D;
  color: #0B1029;
  height: 100vh;
  width: 100vw;
} */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  margin: 20px;
}
.card:hover {
  background-color: rgb(188, 197, 197);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin: 0;
}

.card-description {
  color: #555;
  margin: 10px 0;
  padding: 8px;
}

.card-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.card-button:hover {
  background-color: #0056b3;
}
